<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scriptorium</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main class="index-main">
        <header class="site-header">
            <h1 class="site-title">Scriptorium</h1>
            <p class="site-description">Writing by [Your Name]</p>
        </header>
        <ul class="post-list">
<!-- POSTS -->
        </ul>
    </main>
</body>
</html>
